# Get more fancy pants data
- go to the web factset 
- request it
- back to your sheet and run it (insert the name)

# Integrate it with the model
- join the data
- so update the model features

In [1]:
import json
import pandas as pd
from snowflake.snowpark.session import Session
import snowflake.snowpark.functions as F
from snowflake.snowpark.types import PandasDataFrameType, IntegerType, StringType, FloatType, DateType
from snowflake.ml.modeling.xgboost import XGBRegressor
from snowflake.ml.modeling.linear_model import LinearRegression
from snowflake.ml.registry import model_registry
from snowflake.ml._internal.utils import identifier

In [ ]:
# 1.1 Get the Data Share

In [ ]:
https://app.snowflake.com/marketplace/listing/GZT0ZGCQ51UL/factset-tick-history

In [ ]:
# 1.2 Reading Snowflake Connection Details, create a Session

In [2]:
snowflake_connection_cfg = json.loads(open("/Users/mitaylor/Documents/creds/creds.json").read()) # <--- Update here
session = Session.builder.configs(snowflake_connection_cfg).create()
session.sql("USE DATABASE HOL_DEMO").collect()
#session.sql("USE STAGE YOUR_STAGE").collect()
session.sql("CREATE OR REPLACE WAREHOUSE ASYNC_WH WITH WAREHOUSE_SIZE='MEDIUM' WAREHOUSE_TYPE = 'SNOWPARK-OPTIMIZED'").collect()

[Row(status='Warehouse ASYNC_WH successfully created.')]

In [ ]:
# 1.3 Examine a sample of the data

In [4]:
sdf = session.sql("""Select * FROM TICK_HISTORY.PUBLIC.TH_SF_MKTPLACE where ticker IN ('AMZN', 'FDS', 'IBM', 'META')""")
sdf.limit(5).to_pandas()

,TICKER,MSG_TYPE,DATE,TIME,SEQUENCE,LAST_PRICE,LAST_VOL,CVOL,VWAP,BID,...,BENCHMARK_SPREAD,TRADED_PRICE,TRADED_VOL,TRADED_CONDITION,TRADED_YIELD,ISO_CODE,LAST_EXCH,LAST_DATE,LAST_TIME,ORDER_NUM
0,META,0,20221027,103753196,2337064,101.17,60.0,42794052.0,NaN,NaN,...,NaN,NaN,NaN,None,NaN,USA,14009,20221027.0,103753196.0,3109361
1,META,0,20221027,103753196,2337063,101.19,100.0,20474314.0,99.785986,NaN,...,NaN,NaN,NaN,None,NaN,USA,10050,20221027.0,103753196.0,3109360
2,META,1,20221027,103753196,24600831,NaN,NaN,NaN,NaN,101.17,...,NaN,NaN,NaN,None,NaN,USA,14015,NaN,NaN,3109529
3,META,1,20221027,103753196,24600826,NaN,NaN,NaN,NaN,101.17,...,NaN,NaN,NaN,None,NaN,USA,14007,NaN,NaN,3109524
4,META,15,20221027,103753196,24600790,NaN,NaN,NaN,NaN,101.18,...,NaN,NaN,NaN,None,NaN,USA,11099,NaN,NaN,3109502

# Use Native Snowpark to Manipulate the Data

In [ ]:
snowpark group by stock/day,
max price min price mean price, rebuild ML model

In [ ]:
1	AMZN
2	FDS
3	IBM
4	META